<nav class="basis-1/6 bg-slate-500 text-xl">
  <ul >
    <li class="text-4xl font-bold">Menu</li>
    <li routerLinkActive="bg-slate-200 font-bold"><a routerLink="/peru">Perú</a></li>
    <li routerLinkActive="bg-slate-200 font-bold"><a routerLink="/chile">Chile</a></li>
    <li routerLinkActive="bg-slate-200 font-bold"><a routerLink="/uruguay">Uruguay</a></li>
  </ul>
</nav>
<div class="w-full">
  <div class="h-10 bg-blue-500 px-4">
    <h2 class="text-2xl font-bold">Mi primera aplicacion SPA</h2>
  </div>
  <router-outlet></router-outlet>
</div>